---
import { getCollection } from "astro:content";
import { motion } from "framer-motion";
import { twMerge } from "tailwind-merge";
import Card from "../../components/Card";
import CutCornerButton from "../../components/CutCornerButton";
import Hexagon from "../../components/Hexagon";
import Tag from "../../components/Tag";
import DefaultLayout from "../../layouts/Default.astro";
import { getPostColorFromCategory } from "../../utils/postUtils";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const latestPost = posts[0];
---

<DefaultLayout>
  
  <section class="py-32 bg-zinc-900/30 backdrop-blur-sm">
    <div class="container">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="flex flex-col gap-8 lg:gap-12">
          {
            posts.map(
              ({ data: { category, title, description }, slug }, index) => (
                <motion.a
                  client:load
                  initial={{ opacity: 0, y: 20 }}
                  whileInView={{ opacity: 1, y: 0 }}
                  viewport={{ once: true, amount: 0.5 }}
                  transition={{ duration: 0.5, ease: "easeIn" }}
                  href={`/blog/${slug}`}
                  className={twMerge(index % 2 === 0 ? "" : "block md:hidden")}
                >
                  <Card
                    buttonText="Read More"
                    color={getPostColorFromCategory(category)}
                  >
                    <Tag color={getPostColorFromCategory(category)}>
                      {category}
                    </Tag>
                    <h2 class="font-heading font-black text-3xl mt-4">
                      {title}
                    </h2>
                    <p class="text-lg mt-6 text-zinc-400">{description}</p>
                  </Card>
                </motion.a>
              )
            )
          }
        </div>
        <div class="hidden md:flex flex-col gap-8 lg:gap-12 mt-24">
          {
            posts.map(
              ({ data: { category, title, description }, slug }, index) => (
                <motion.a
                  client:load
                  initial={{ opacity: 0, y: 20 }}
                  whileInView={{ opacity: 1, y: 0 }}
                  viewport={{ once: true, amount: 0.5 }}
                  transition={{ duration: 0.5, ease: "easeIn" }}
                  href={`/blog/${slug}`}
                  className={twMerge(index % 2 === 0 ? "hidden" : "")}
                >
                  <Card
                    buttonText="Read More"
                    color={getPostColorFromCategory(category)}
                  >
                    <Tag color={getPostColorFromCategory(category)}>
                      {category}
                    </Tag>
                    <h2 class="font-heading font-black text-3xl mt-4">
                      {title}
                    </h2>
                    <p class="text-lg mt-6 text-zinc-400">{description}</p>
                  </Card>
                </motion.a>
              )
            )
          }
        </div>
      </div>
    </div>
  </section>

</DefaultLayout>
